body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto 10px auto;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabela {
    width: 100%;
}

.table {
    display: block;
    overflow-y: auto;
    max-height: 400px; 
    
}


.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
