<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cadastro de Tarefas</title>
    <link rel="stylesheet" th:href="@{/css/cadastroTarefas.css}" />
  </head>
  <body style="background-image: url('/img/fundo.png'); background-size: cover">
    <div class="container">
      <h2 id="titulo">Cadastro de Tarefas</h2>
      <form
        id="form-tarefa"
        th:action="@{/tarefa/cadastrar}"
        th:object="${tarefa}"
        th:method="post"
      >
        <label for="descricao">Descrição:</label><br />
        <textarea
          id="descricao"
          th:field="*{descricao}"
          class="campo-texto"
          required
          maxlength="255"
          placeholder="Máximo de 255 caracteres"
        ></textarea>
        <label for="prioridade">Prioridade:</label><br />
        <select
          id="prioridade"
          th:field="*{prioridade}"
          name="prioridade"
          class="campo-selecao"
        >
          <option value="ALTA">Alta</option>
          <option value="MEDIA">Média</option>
          <option value="BAIXA">Baixa</option></select
        ><br />
        <input type="submit" value="Cadastrar" id="botao-cadastrar" />
        <button
          onclick="location.href='/tarefas/pendentes'"
          type="button"
          id="botao-voltar"
        >
          Voltar
        </button>
      </form>
    </div>
  </body>
</html>
