<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <h1>Cadastro de Usuário</h1>
      </div>

      <div class="Cadastro-text">
        <p class="mensagem-motivacional">
          No centro de tudo que fazemos, você é a nossa prioridade.<br />
          Faça parte da nossa familia, vamos juntos transformar o seu dia!
        </p>
        <button onclick="window.location.href='/login'" id="login-buttom">
          volta para login
        </button>
      </div>
      <div class="cadastro">
        <form
          id="cadastro-form"
          action="#"
          th:action="@{/usuario/cadastrar}"
          th:object="${usuarioDTO}"
          method="post"
        >
          <label for="nome">Nome:</label>
          <input type="text" th:field="*{nome}" id="nome" required />
          <label for="email">Email:</label>
          <input type="email" th:field="*{email}" id="email" required />
          <label for="senha">Senha:</label>
          <input type="password" th:field="*{senha}" id="senha" required />
          <button type="submit" id="cadastro-bt">Cadastrar</button>
          <div th:if="${error}" class="alerta" role="alert">
            <p th:text="${error}"></p>
          </div>
          <div th:if="${sucesso}" class="alerta-sucesso" role="alert">
            <p th:text="${sucesso}"></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
