<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tarefas Pendentes</title>
    <link rel="stylesheet" th:href="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'}">
</head>
<body>
    <div class="container">
        <h2>Tarefas Pendentes</h2>
        <button onclick="location.href='/cadastroTarefa'" type="button">Cadastrar</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Prioridade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="tarefas">
                <tr th:each="tarefa : ${tarefas}">
                    <td th:text="${tarefa.descricao}"></td>
                    <td th:text="${tarefa.prioridade}"></td>
                    <td>
                        <form th:action="@{/concluir/{id}(id=${tarefa.id})}" th:method="post">
                            <input type="submit" value="Concluir">
                        </form>

                        

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
